<form>
  <div class="row">&nbsp;</div>
  <div class="row">Language</div>
 <div class="form-group form-select">
  <select [(ngModel)]="passwordSpec.Language" class="custom-select" name="language">
    <option value="NL">Nederlands</option>
    <option value="EN">Engels</option>
  </select>
 </div>
  <div class="row">words</div>
  <div class="row">special character</div>
 <div class="form-group form-check">
    <input type="checkbox" [(ngModel)]="passwordSpec.UseSpace" class="form-check-input" id="checkSpace" name="checkSpace">
    <label class="form-check-label" for="checkSpace">Spatie gebruiken</label>
  </div>
  <div class="row">number</div>
  <div class="row">
    <div class="col-md jumbotron">
      <code>{{password}}</code>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <button type="button" class="btn btn-primary" (click)="generatePassword()">Primary</button>
    </div>
  </div>
</form>
