<form class="pt-5">
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Taal</label>
    <div class="col-sm-10">
      <select class="form-control" name="language">
        <option selected value="NL">Nederlands</option>
        <option value="EN">Engels</option>
      </select>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Opties</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="useSpace" id="useSpace">
          <label class="form-check-label" for="useSpace">
            Spatie gebruiken
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="useSpecial" id="useSpecial" value="option2">
          <label class="form-check-label" for="useSpecial">
            Lees tekens gebruiken
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="useNumber" id="useNumber">
          <label class="form-check-label" for="useNumber">
            Getallen gebruiken
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="useCapital" id="useCapital">
          <label class="form-check-label" for="useCapital">
            Hoofdletter gebruiken
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <label for="words" class="col-sm-2 col-form-label">Woorden</label>
    <div class="col-sm-4 input-group">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>
      </div>
      <input type="text" class="input-group-text" readonly value="5" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
        <fa-icon [icon]="faAngleRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="words" class="col-sm-2 col-form-label">Gegenereerde zin</label>
    <div class="col-sm-10 input-group col-sm-10">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button">
        <fa-icon [icon]="faSyncAlt"></fa-icon>
        </button>
      </div>
      <input type="text" class="input-group-text" readonly value="dit is de wachtwoord" />
    </div>
  </div>
  <div class="form-group row">
    <label for="words" class="col-sm-2 col-form-label">Resultaat</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" readonly value="dit is de wachtwoord" />
    </div>
  </div>
</form>
<!-- <form>
  <div class="row">&nbsp;</div>
  <div class="row">Language</div>
 <div class="form-group form-select">
  <select [(ngModel)]="passwordSpec.Language" class="custom-select" name="language">
    <option value="NL">Nederlands</option>
    <option value="EN">Engels</option>
  </select>
 </div>
  <div class="row">
    <div class="col-md1">
      <button class="btn btm-primary" type="button" (click)="wordsDown()">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </button>
    </div>
    <div class="col-sm1">
      <input type="text" class="form-control words" [(ngModel)]="passwordSpec.Words" disabled="disabled" name="words">
    </div>
    <div class="col-md1">
      <button class="btn btm-primary" type="button" (click)="wordsUp()">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </button>
    </div>
  </div>-->
  <!-- <div class="row">special character</div> -->
 <!-- <div class="form-group form-check">
    <input type="checkbox" [(ngModel)]="passwordSpec.UseSpace" class="form-check-input" id="checkSpace" name="checkSpace">
    <label class="form-check-label" for="checkSpace">Spatie gebruiken</label>
  </div> -->
  <!-- <div class="row">number</div> -->
  <!-- <div class="row">
    <div class="col-md">{{originalSentence}}</div>
  </div>
  <div class="row">
    <div class="col-md jumbotron">
      <code>{{password}}</code>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <button type="button" class="btn btn-primary" (click)="generatePassword()">Primary</button>
    </div>
  </div>
</form> -->
